.inputWrap{
    margin-bottom: 20px;
}
.label{
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
}
.input{
    padding: 15px 10px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-family: "Open Sans", sans-serif;
}